body {
	color: #cdcdcd;
	background-color: black;
	max-width: max-content;
	margin: 10px auto;
    
}

@font-face {
	font-family: terminal;
	src: url("./Web437_IBM_VGA_8x14.woff") format("woff");
}

.logo {
    text-align: center;
    font-size: 11px;
    color:  rgb(42, 240, 42);
}

.logo pre{
    font-family: terminal;
}




.menu {
    
    border-bottom: 2px dotted green;
    font-size: 14px;
    text-align: center;
    padding: 2px 0;
    font-family: terminal;
}


.menu a {
    color:  rgb(42, 240, 42);
    font-weight: bold;
    text-decoration: none;
}

.menu a:hover{
    color: #cdcdcd;
}





.body { 
    
    font-family: terminal;
    font-size: 15px;
}

.body pre{
    font-family: terminal;
    color: darkgreen;
}


.body g1{
    color: rgb(42, 240, 42);
    font-weight: bold;
}

.body g2{
    color: #888;
}

.body a{
    text-decoration: none;
    color: rgb(42, 240, 42);
}



.footer {
    
    border-top: 2px dotted green;
    
    font-size: 13px;
    text-align: center;
    padding: 2px 0;
    font-family: terminal;
    color:  rgb(42, 240, 42);
    font-weight: bold;
}

