.content{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .text{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: terminal;
}

.content .text h1{
    color: white;
    font-size: 62px;
    margin: 0;
    padding: 0;
}

.content .text h4{
    font-size: 20px;
    color: #888;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}

.content .text p{
    font-size: 16px;
    font-family: terminal;
    color: #ccc;
    text-align: justify;
}
